
<% if flash[:notice] %>
  <p class="message"><%= flash[:notice] %></p>
<% end %>

<body>
  <h1>Books</h1>
<table>
  <thead>
   	<tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
   </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>

    <td><%= link_to "Show",book_path(book) %></td>
    <td><%= link_to "Edit",edit_book_path(book) %></td>
    <td><%= link_to "destroy",book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>
  </tr>
    <% end %>
  <tbody>
</table>

<h3>New Book</h3>

 <%= form_for(@book, url: '/books') do |f| %>

   <% if @book .errors.any? %>
     <h2><%= @book.errors.count %> errors</h2>
     <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
     </ul>
    <% end %>

	  <p>Title</p>
	  <%= f.text_field :title %>

	  <p>Body</p>
	  <%= f.text_area :body %>

    <h3><%= f.submit "Create Book" %></h3>
<% end %>